.Header-navbar{
  color: white;
}
.Header-logo {
  height: 50px;
  margin-right: 10px;
}

.Header-close-room {
  margin-right: .5rem;
}

.Header-user {
  padding: .375rem .75rem !important;
}

.Header-user a {
  padding: 0;
  margin: 0;
}
