.FormTextRow-explanation {
  margin-top: -1rem;
}

.OpenRoomForm-submit {
  margin-top: 1rem;
}

.AdvancedForm {
  border: 2px solid #a2b6ca;
  border-right: 0px;
  border-left: 0px;
  border-radius: .25rem;
  margin-top: 1rem;

}
.AdvancedForm-toggle {
  float: right;
  margin: .5rem;
}