.App {
  height: 100%;
}

.View {
  min-height: 100%;
  padding:10px;
  padding-bottom:64px;   /* Height of the footer */
}

.Footer {
  width:100%;
  margin-top: -64px; /* Height of the footer */
  height:64px;   /* Height of the footer */
  background:rgb(30, 32, 32);
  color: rgb(255, 255, 255);
}

.Footer-github {
  line-height: 64px; /* footer height */
  text-align: right;
  vertical-align: middle;
  margin-right: 10px;
}

.Footer-copyright p {
  padding: 0;
  line-height: 64px; /* footer height */
  vertical-align: middle;
}

.Footer-copyright a {
  color: rgb(255, 255, 255);
}
