.FormTextRow-explanation {
  margin-top: -1rem;
}

.OpenRoomForm-submit {
  margin-top: 1rem;
}

.AdvancedForm {
  border-top: 2px solid #a2b6ca;
  margin-top: 1rem;
}
.AdvancedForm-toggle {
  float: right;
  margin: .5rem;
}