 /* Background patterns from Toptal Subtle Patterns */
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|IBM+Plex+Sans:100,100i,400,400i,700,700i');
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.container {
  min-height:100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.content {
  background-image: url("/seqpress/stripes.png");
  background-repeat: repeat;
  position:relative;
  flex: 1 0 auto;

}

form {
  border: 0.2rem solid #f1f1f1;
  font-family: 'Averia Serif Libre', cursive;
  background-color: white;
  padding: 1rem;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 0.7rem 1.1rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 0.1rem solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 1.1rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.9;
}

.dialog {
  border: 0.2rem solid #f1f1f1;
  font-family: 'Averia Serif Libre', cursive;
}

.header {
  position: relative;
  background-image: url("/seqpress/pool_table.png");
}

.header-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  align-items: center;
}

.responsive {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .responsive {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .responsive {
    width: 100%;
  }
}

.logo-container {
  margin: 0;
  text-align: center;
  padding: 0.1rem;
}

.logo {
  width: 100%;
  height: 100%;  
}

.title-container {
  text-align: center;
  padding: 0 20px 0 20px;

}

.title-container h2 {
  text-align: center;
  margin: 0;
  color: white;
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
}

.login-form {
  margin-top: 3rem;

}

.form-container {
  padding: 0px;
}

.footer {
  flex-shrink: 0;
  height: 64px;
  width:100%;
  background:rgb(30, 32, 32);
  color: rgb(255, 255, 255);
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.footer-container {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.footer-copyright {
  line-height: 64px; /* footer height */
}

.footer-copyright p {
  margin: 0 .5rem 0 .5rem;
  padding: 0;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  font-size: .8rem;
}
.footer-copyright a {
  color: rgb(255, 255, 255);
}