@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|IBM+Plex+Sans:100,100i,400,400i,700,700i');
body {font-family: Arial, Helvetica, sans-serif;}
form {
  border: 3px solid #f1f1f1;
  font-family: 'Averia Serif Libre', cursive;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.seqp-login {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .seqp-login {
    width: 100%;
  }
}

.seqp-error {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .seqp-error {
    width: 100%;
  }
}

.dialog {
  border: 3px solid #f1f1f1;
  font-family: 'Averia Serif Libre', cursive;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.header {
  height: 80px;
}
.logo-container {
  margin: 10px 0 6px 0;
  float: left;
}

.logo {
  width: 64px;
  height: 64px;
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 80px;
  margin-left: 20px;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.footer {
  display: none;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
